body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.conteiner {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

button:hover {
  background-color: #0056b3;
}
