body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

.conteiner {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.btn:hover {
  background-color: #0056b3;
}

#autor {
  /* display: block;
  margin-top: 10px; */
  font-style: italic;
}

.quote {
  font-style: italic;
}

.quote::before,
.quote::after {
  content: '"';
}
